.profile {
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
    gap: 24px;
}

.avatar {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.tag {
    font-size: 18px;
    margin: 0;
}

.location {
    font-size: 16px;
    margin: 0;
}

.stats {
    display: flex;
    border-top: 1px solid #ecf0f4;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: calc(100% / 3);
    gap: 8px;
    padding: 30px 0;
    background-color: #f3f6f9;
}

.stats li:nth-child(2) {
    border-left: 1px solid #ecf0f4;
    border-right: 1px solid #ecf0f4;
}

.stats .quantity {
    font-weight: bold;
}