.statistics {
    width: 400px;
    border: 1px solid rgb(198, 190, 190);
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    gap: 12px;
    padding: 12px 0;
    color: white;
    text-align: center;
}

.statList {
    display: flex;
    padding: 0;
    margin: 0;
}

.title {
    color: rgb(198, 190, 190);
    text-transform: uppercase;
    text-align: center;
}

.label {
    font-size: 12px;
}

.percentage {
    font-size: 18px;
}