.transactionHistory {
    font-size: 14px;
    text-align: center;
    color: rgb(26, 25, 25);
    width: 400px;
    border-spacing: 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px,
    rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
.transactionHead {
    background-color: rgb(0, 221, 221);
    color: white;
    font-weight: 400px;
    border-radius: 5px;
}

.transactionRecord:nth-child(even) {
    background-color: #ecf1f3;
}
.transactionHead th,
.transactionRecord td {
    width: calc(100% / 3);
    padding: 5px 0;
}

.transactionHead th:nth-child(odd){
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.transactionRecord td:nth-child(odd) {
    border-right: 1px solid #ecf1f3;
    border-left: 1px solid #ecf1f3;
}
